{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}boletos{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">boletos</h1>
        {% if boletos %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Numero </th>
                  <th width="20%"> Fecha Liquidacion </th>
                  <th width="20%"> Tipo Operacion </th>
                  <th width="20%"> Tiker </th>
                  <th width="20%"> Cantidad </th>
                  <th width="20%"> Neto </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for boleto in boletos %}
                <tr>
                  <td> {{ boleto.numero }} </td>
                  <td> {{ boleto.fecha_liquidacion }} </td>
                  <td> {{ boleto.tipo_operacion }} </td>
                  <td> {{ boleto.tiker }} </td>
                  <td> {{ boleto.cantidad }} </td>
                  <td> {{ boleto.neto }} </td>

                  <td>
                    <a href="{{ url_for('boletos.edit_boleto', id=boleto.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('boletos.add_ticker', boleto_id=boleto.id) }}">
                      <i class="fa fa-pencil"></i> Add Ticker
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('boletos.delete_boleto', id=boleto.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No boletos have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('boletos.add_boleto') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add boleto
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
